.root {
    -fx-background-color: #fcebd9;
    -fx-font-family: 'Comicbon';
}

.button {
    -fx-background-color: #c95959;
    -fx-font-size: 17;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #e67070;
}

.button:pressed {
    -fx-background-color: #ad4b4b;
    -fx-scale-x: 95%;
    -fx-scale-y: 95%;
}

.label {
    -fx-font-size: 120%;
    -fx-alignment: baseline-left;
    -fx-padding: 5 0 5 10;
}

#warnField {
    -fx-font-size: 15;
    -fx-text-fill: #8c8888;
}

#imageWarnLabel {
    -fx-font-size: 15;
    -fx-text-fill: #8c8888;
}
#numberWarnLabel {
    -fx-font-size: 15;
    -fx-text-fill: #8c8888;
}
#messageLabel {
    -fx-font-size: 11;
    -fx-text-fill: #35a435;
}
