@font-face {
    font-family: 'Comicbon';
    src: url('Comicbon.ttf');
}

.root {
    -fx-background-color: #fcebd9;
    -fx-font-family: 'Comicbon';
}

#underSoloText, #underMultiplayerText, #factText, #factQuestion, #title {
    -fx-font-family: 'Comicbon';
    -fx-font-weight: Bold;
}

.button {
    -fx-background-color: #c95959;
    -fx-font-size: 20;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-weight: Bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e67070;
}

.button:pressed {
    -fx-background-color: #ad4b4b;
    -fx-scale-x: 95%;
    -fx-scale-y: 95%;
}

#mainMenuPane {
    -fx-background-color: #fef8a0;
}

#warnBox {
    -fx-text-fill: #c95959;
}


