@font-face {
    font-family: 'Comicbon';
    src: url('Comicbon.ttf');
}
.root{
    -fx-background-color: #ffc5ac;
    -fx-font-family: 'Comicbon';
}
.setFont {
    -fx-font-family: 'Comicbon';
}

#answerLabel {
    -fx-font-weight: bold;
}

#newPoints {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #fdecd8;
    -fx-background-radius: 5px;
}
.button:hover {
    -fx-background-color: #fef8a0;
}
.button:pressed {
    -fx-background-color: #ffc5ac;
    -fx-scale-x: 95%;
    -fx-scale-y: 95%;
}
.questionBackground {
    -fx-background-color: #fef8a0;
    -fx-font-size: 15px;
    -fx-min-width: 300px;
    -fx-min-height: 270px;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

.questionLabelBackground {
    -fx-background-color: #fef8a0;
    -fx-font-size: 15px;
    -fx-min-width: 300px;
    -fx-min-height: 60px;
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

.emojiChat{
    -fx-background-color: #ffc5ac;
}

.questionsLeftLabel{
    -fx-background-radius: 50%;
    -fx-alignment: center;
    -fx-font-size: 3em;
    -fx-border-radius: 50%;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
    -fx-max-height: 60px;
    -fx-max-width: 60px;
}

#scoreBox {
    -fx-font-size: 20px;
}
#questionLabel {
    -fx-font-size: 30px;
    -fx-text-alignment: center;
}

#timeReduced {
    -fx-font-size: 20px;
    -fx-font-family: 'Comicbon';
    -fx-text-fill: #c95959;
}
